<!-- 
SOURCE: app/views/static_pages/contact.html.erb
SIXTH step:
1. receives info from controller (Static_Pages_Controller in this case)
SEVENTH step:
1. view uses embedded Ruby to render the page as HTML
 -->

 <% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>