<!-- 
SOURCE: app/views/static_pages/sitemap.html.erb
SIXTH step:
1. receives info from controller (Static_Pages_Controller in this case)
SEVENTH step:
1. view uses embedded Ruby to render the page as HTML
 -->

 <% provide(:title, 'Site Map') %>
<h1>Site Map</h1>
<p>
  Understand the layout of the personal sample application at the
  <a href="http://railstutorial.org/sitemap">Rails Tutorial Site Map page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>