<!-- 
SOURCE: app/views/static_pages/new.html.erb
SIXTH step:
1. receives info from controller (Static_Pages_Controller in this case)
SEVENTH step:
1. view uses embedded Ruby to render the page as HTML
 -->

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>