<!-- SOURCE: app/views/microposts/_micropost.html.erb

-->

<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <!-- Exercise 10.5 delete partial to make sure delete links do not appear for microposts not created by the current user with user conditional -->
  <%= render partial: "shared/item_delete_link", 
          locals: { item: micropost, user: @user } %>
</li>